
div {
	font-family: 'Bitstream Vera Sans', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif !important;
	font-size: 12px !important;
	padding: 0px;
}

div.main {
	margin: 2px;
}

div.buttons {
	display: table-cell;
}

div.button {
	text-align: center;
}

img.button {
	margin-left: auto;
	margin-right: auto;
	min-width: 18px;
	max-width: 18px;
}

a.button {
	display: table-cell;
	text-align: center;
}

div.text {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: top;
	padding-left: 6px;
}

div.original {
	font-weight: bold;
	padding-bottom: 2px;
	border-bottom: 1px solid grey;
}

div.translations {
	padding-top: 6px;
}

div.dictionary_word {
	padding-top: 4px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div.word_type {
	font-weight: bold;
}


