<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>en</string>
		<key>Key</key>
		<string>target</string>
		<key>Title</key>
		<string>Target language</string>
		<key>Titles</key>
		<array>
			<string>Afrikaans</string>
			<string>Albanian</string>
			<string>Arabic</string>
			<string>Azerbaijani</string>
			<string>Basque</string>
			<string>Bengali</string>
			<string>Belarusian</string>
			<string>Bulgarian</string>
			<string>Catalan</string>
			<string>Chinese Simplified</string>
			<string>Chinese Traditional</string>
			<string>Croatian</string>
			<string>Czech</string>
			<string>Danish</string>
			<string>Dutch</string>
			<string>English</string>
			<string>Esperanto</string>
			<string>Estonian</string>
			<string>Filipino</string>
			<string>Finnish</string>
			<string>French</string>
			<string>Galician</string>
			<string>Georgian</string>
			<string>German</string>
			<string>Greek</string>
			<string>Gujarati</string>
			<string>Haitian Creole</string>
			<string>Hebrew</string>
			<string>Hindi</string>
			<string>Hungarian</string>
			<string>Icelandic</string>
			<string>Indonesian</string>
			<string>Irish</string>
			<string>Italian</string>
			<string>Japanese</string>
			<string>Kannada</string>
			<string>Korean</string>
			<string>Latin</string>
			<string>Latvian</string>
			<string>Lithuanian</string>
			<string>Macedonian</string>
			<string>Malay</string>
			<string>Maltese</string>
			<string>Norwegian</string>
			<string>Persian</string>
			<string>Polish</string>
			<string>Portuguese</string>
			<string>Romanian</string>
			<string>Russian</string>
			<string>Serbian</string>
			<string>Slovak</string>
			<string>Slovenian</string>
			<string>Spanish</string>
			<string>Swahili</string>
			<string>Swedish</string>
			<string>Tamil</string>
			<string>Telugu</string>
			<string>Thai</string>
			<string>Turkish</string>
			<string>Ukrainian</string>
			<string>Urdu</string>
			<string>Vietnamese</string>
			<string>Welsh</string>
			<string>Yiddish</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>af</string>
			<string>sq</string>
			<string>ar</string>
			<string>az</string>
			<string>eu</string>
			<string>bn</string>
			<string>be</string>
			<string>bg</string>
			<string>ca</string>
			<string>zh-CN</string>
			<string>zh-TW</string>
			<string>hr</string>
			<string>cs</string>
			<string>da</string>
			<string>nl</string>
			<string>en</string>
			<string>eo</string>
			<string>et</string>
			<string>tl</string>
			<string>fi</string>
			<string>fr</string>
			<string>gl</string>
			<string>ka</string>
			<string>de</string>
			<string>el</string>
			<string>gu</string>
			<string>ht</string>
			<string>iw</string>
			<string>hi</string>
			<string>hu</string>
			<string>is</string>
			<string>id</string>
			<string>ga</string>
			<string>it</string>
			<string>ja</string>
			<string>kn</string>
			<string>ko</string>
			<string>la</string>
			<string>lv</string>
			<string>lt</string>
			<string>mk</string>
			<string>ms</string>
			<string>mt</string>
			<string>no</string>
			<string>fa</string>
			<string>pl</string>
			<string>pt</string>
			<string>ro</string>
			<string>ru</string>
			<string>sr</string>
			<string>sk</string>
			<string>sl</string>
			<string>es</string>
			<string>sw</string>
			<string>sv</string>
			<string>ta</string>
			<string>te</string>
			<string>th</string>
			<string>tr</string>
			<string>uk</string>
			<string>ur</string>
			<string>vi</string>
			<string>cy</string>
			<string>yi</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>84</string>
		<key>Key</key>
		<string>key</string>
		<key>Title</key>
		<string>Shortcut key</string>
		<key>Titles</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
		</array>
		<key>Type</key>
		<string>ListBox</string>
		<key>Values</key>
		<array>
			<string>65</string>
			<string>66</string>
			<string>67</string>
			<string>68</string>
			<string>69</string>
			<string>70</string>
			<string>71</string>
			<string>72</string>
			<string>73</string>
			<string>74</string>
			<string>75</string>
			<string>76</string>
			<string>77</string>
			<string>78</string>
			<string>79</string>
			<string>80</string>
			<string>81</string>
			<string>82</string>
			<string>83</string>
			<string>84</string>
			<string>85</string>
			<string>86</string>
			<string>87</string>
			<string>88</string>
			<string>89</string>
			<string>90</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>none</string>
		<key>Key</key>
		<string>key_modifier</string>
		<key>Title</key>
		<string>Key modifier</string>
		<key>Titles</key>
		<array>
			<string>None</string>
			<string>Alt</string>
			<string>Ctrl</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>none</string>
			<string>alt</string>
			<string>ctrl</string>
		</array>
	</dict>
</array>
</plist>
