div.shares {
    display: table;
    margin: 0 10px 0 10px;
    margin-left: auto;
    margin-right: auto;
}

div.share {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.download {
    width: 200px;
}
